.container {
  .actions {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .action {
      min-width: 80px;
    }
  }
  .noAccountBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .desc {
      margin-bottom: 15px;
    }
  }
}
