.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .balanceBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
}
